.App {
  /* background: var(--isabelline); */
  background: var(--cardinal-red);
  display: grid;
  place-items: center;
}

section {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
  width: 100%;
}

.table-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--light-gray);
  border-radius: 1%;
}

#usc-logo {
  height: 50%;
  width: 50%;
  max-width: 450px;
  max-height: 150px;
}
