.App {
  /* background: var(--isabelline); */
  background: var(--cardinal-red);
  display: grid;
  place-items: center;
}

#usc-logo {
  height: 50%;
  width: 50%;
  max-width: 450px;
  max-height: 150px;
}
